
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
.xb_gallery {
    overflow:hidden;
    float: left;
    color: #fff;
    position: relative;
}
.xb_gallery strong.title {
    display: block;
    padding: 7px 16px 9px;
    font-size: 14px;
    line-height: 17px;
}
.xb_gallery div {
    overflow:hidden;
    position:relative;
}
.xb_gallery div ul {
    position:absolute;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    top:0;
    left:0;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
}
.xb_gallery div ul li {
    float:left;
}
.xb_gallery div a {
    display: block;
}
.xb_gallery div a img {vertical-align: top;border:0;}
 
.xb_gallery div p {
    position:absolute;
    bottom: 0;
    z-index:95;
    left:0;
    margin: 0 16px;
}
.xb_gallery ul.switcher {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    position: absolute;
    bottom: 4px;
    right: 10px;
    top:auto;
    left:auto;
    z-index:99;
    width:auto;
}
.xb_gallery ul.switcher li {
    float: left;
    display: inline;
    margin: 0 0 0 4px;
}
.xb_gallery ul.switcher a {
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    width:100%;
    height:96%;
}
.xb_gallery ul.switcher a:hover,
.xb_gallery ul.switcher .active a {background-position:0 -11px;}
 
.banners div {
 margin: 2px 0 0 0;
 padding: 1px 0px;
}
